<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Chat Page</title>
</head>
<body>
    <h3>Write Your Chat....</h3>
    <form method="POST" action="/chats">
        <input type="text" placeholder="Who are you?" name="from">
        <br/>
        <br/>
        <textarea name="msg">Write your message here..</textarea>
        <br/>
        <br/>
        <input type="text" name="to" placeholder="Add receiver">
        <br/>
        <br/>
        <button>Create Chat!</button>
    </form>
</body>
</html>